extends layout

block header
  .container: h1 Happy Index 	

block content
  .container
    p Välj ett team för att visa mappen

    ul.team-list
      each setting, team in teams
        li.eight.columns 
          .team
            img(src='/images/#{team}.png') 
            a(href='/teams/#{team}') Team #{team}
          .motto "#{setting.motto}"

