body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
#heatmap {
  width: 500px;
  height: 500px;
  border: 1px solid #c0c0c0;
  position: relative;
}
#heatmap .grid {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
}
#heatmap .grid td {
  border: 1px dashed #eee;
}
